body {
    background-color: grey;
    margin: 0;
}
div {
    box-sizing: border-box;
}
.titulo {
    margin: 0;
    padding: 10px;
    background-color: white;
}
h1 {
    text-align: center;
}
.caja {
    width: 600px;
    margin: 50px auto;
    background-color: white;
}
.foto {
    width: 100%;
    height: auto;
    display: block;
}
.cabeza :first-child{
    display: inline-block;
    width: 77%;
    padding: 10px;
}
.cabeza :last-child{
    display: inline-block;
    width: 16%;
    text-align: right;
    padding: 10px;
    color: grey;
}
.pie-de-foto {
    padding: 10px;
}